.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    row-gap: 10px;
    column-gap: 10px;
}

.grid-item {
    background-color: #dbceb0;
    color: #4f3222;
    text-align: center;
    font-size: 15px;
    border: 1px solid rgb(114, 28, 28);
}

.item1 {
    grid-column: 1/5;
}

.item2 {
    grid-column: 2/5;
}

.item3 {
    grid-column: 3/5;
}

.item4 {
    grid-column: 4/5;
}

/* Extra */ 
header {
    background-color: #dbceb0;
    color: #4f3222;
    text-align: center;
    padding: 1em 0;
}
header h2 {
    margin: 0; font-family: 'DM Serif Display', serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #dbceb0 ;
}
.column {
    flex: 2;
    margin: 10px;
    padding: 20px;
    background-color: beige;
    border: 2px burlywood;
}
footer {
    background-color: #dbceb0;
    color: #4f3222;
    text-align: center;
    padding: 10px 0;
}
